body {
    background-color: rgba(8, 6, 10, 0.925));
    margin: 0px
}

nav a {
   margin-top: 5px;
    padding: 2px;
    font-size: 20px;
    color:rgba(208, 96, 151, 0.462) 
    
    
}
h1 {
    color: rgb(172, 46, 141);
}
 .categoria-video img {
    opacity: 0.6;
 }

.vermelho {
    font-style: italic;
}
h2 {
    color: rgb(172, 46, 141);
}
 .categoria-video img {
    opacity: 0.6;
 }

.vermelho {
    font-style: italic;
}

.img1 {
    width: 50%;
}

.centro {
    text-align: justify;
}
img {
    height: 200px;
}
